{% extends 'blog/base.html' %}

{% block content %}
<div class= "post">
	{% if post.published_date %}
	<div class="date">
		{{post.published_date}}
	</div>
	{% endif %}
	{% if user.is_authenticated %}
	 <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
	{% endif %}

	<h2>{{ post.title }}</h2>
	<p>{{post.text|linebreaksbr }}</p>
</div>
{% endblock %}

<!--{% if ... %} ... {% endif %} is a template tag we can use when we want to check something. In this scenario we want to check if a post's published_date is not empty.
-->